/* 
    Autor: Alberto Caro
    Fecha creación: 21/10/2017
    Última modificación: 29/10/2017
    Versión: 1.00
*/

html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.contenedor {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pantalla {
    grid-column-end: span 5;
    height: 90px;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 3rem;
    text-align: right;
    line-height: 1.5em;
    background: #2B2E30;
    color: white;
}

.otros, .numeros, .operadores {
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.otros {
    display: grid;
    grid-column-end: span 5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
}

.otros div {
    font-size: 1.3rem;
    border: 0.5px solid #282A2B;
    background: #353F45;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.otros div:hover {
    background: #3F4B52;
}

.numeros {
    display: grid;
    grid-column-end: span 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;
}

.numeros div {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0.5px solid #282A2B;
    background: #353F45;
    color: white;
}

.numeros div:hover {
    background: #3F4B52;
}

.operadores {
    display: grid;
    grid-column-end: span 2;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
}

.operadores div {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0.5px solid #282A2B;
    background: #353F45;
    color: white;
}

.operadores div:hover {
    background: #3F4B52;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-column: span 2;
    background: #00A67F;
}

#igual:hover {
    background: #04BA8F;
}

.otros .borra {
    background: #D83C44;
}

.otros .borra:hover {
    background: #D8454D;
}