/* 
    Autor: Alberto Caro
    Fecha creación: 29/10/2017
    Última modificación: 29/10/2017
    Versión: 1.00
*/

.centrar {
    text-align: center; 
    font-size: 2.5em;
}

.icono {
    text-align: center; 
    font-size: 6em; 
    color: white;
}

section {
    cursor: pointer;
}